.section__margin {
  margin: 4rem 0;
}

.getStartedBtn {
  background-color: var(--Cyan);
  border: none;
  outline: none;
  padding: 0.8rem 0;
  cursor: pointer;
  width: 160px;
  border-radius: 75px;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
  opacity: 0.9;
}

.getStartedBtn:hover {
  opacity: 1;
}
